<h1>Bandolera</h1>
<pre>Welcome to the app to property management Bandolera, with utilities like:
1. Property register and documents of landlord and ownership history.
2. Management of appliances with history.
3. History of repairs.
4. HIstory of Leasing Contracts and upload the copy of original contract.

Bandolera provide it estatistical data and financial reports of rentability of the property.</pre>
