<footer class="footer">
  <small>
    <%= link_to image_tag("logo_nanducho.png", alt: "IE Consultores") %>
    The <a href="http://www.nanducho.com/">Apps and Social Networks</a>
    by <a href="http://www.nanducho.com/">Nanducho</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://nanducho.com/ndchterminos.html' %></li>
      <li><%= link_to "Contact", 'http://nanducho.com/html-contact-form.php' %></li>
      <li><a href="https://twitter.com/nanduchocom">Twitter @Nanducho</a></li>
    </ul>
  </nav>
</footer>
